# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.handwritinginsights.com
AuthUserFile /services/webpages/h/a/handwritinginsights.com/public/_vti_pvt/service.pwd
AuthGroupFile /services/webpages/h/a/handwritinginsights.com/public/_vti_pvt/service.grp
