vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Jul 2007 03:12:21 -0000
vti_extenderversion:SR|5.0.2.2623
vti_cacheddtm:TX|21 Jul 2007 03:12:21 -0000
vti_filesize:IR|276
vti_backlinkinfo:VX|page15/page15.html printing.html faq.html minianalysis.html page32/page32.html
